body {
  font-family: Arial, sans-serif;
  background-color: #f68484;
  color: #eaeaea;
}

.container {
  width: 320px;
  margin: 60px auto;
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  background-color: antiquewhite;
}

input {
  flex: 1;
  padding: 8px;
  background-color: antiquewhite;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: yellowgreen;
  border-radius: 10px;
  background-color: antiquewhite;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  background: #05dd4d;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.delete {
  background: red;
  color: rgb(152, 11, 239);
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
